# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
media/
*.pdf

# Local environment settings
.env

# Node modules (if using frontend tools)
node_modules/

# Compiled static files
staticfiles/
static/

# Virtual environment
venv/
.env/
env/

# macOS system files
.DS_Store

# Test result files
*.coverage
.tox/

# IDE files
.idea/
.vscode/
*.swp

# Security
secrets.json
